<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <span class="navbar-brand">Odinbook</span>
  <% if current_user.profile %>
    <span class="nav-item ml-auto"><%= link_to "#{current_user.profile.first_name}", user_path(current_user), class: 'header_link' %></span>
    <span class="nav-item"><%= link_to "Home", user_home_path(current_user), class: 'header_link' %></span>
  
    <span class="nav-item">Find Friends</span>
    <span class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, id: 'sign_out', method: :delete, class: 'header_link' %></span>
  <% end %>
</nav>