// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
  padding-left: 0;
}

#update-profile-pic-btn {
  margin-top: 15px;
}

#choose_pic {
  margin-top: 15px;
}

.list-item {
  font-size: 24px;
}

#profile-info {
  margin-top: 15px;
}

#profile-form {
  margin-top: 100px;
}
