// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
  padding-left: 0;
}

#update-profile-pic-btn {
  margin-top: 15px;
}

#choose_pic {
  margin-top: 15px;
}

.list-item {
  font-size: 24px;
}

#profile-info {
  margin-top: 15px;
}

#profile-form, #cover_photo, figcaption {
  margin-top: 100px;
}

figcaption {
  height: 350px;
}
#cover-photo {
  background-size: cover;
  height: 350px;
}

#cover-photo {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#cover-photo:hover {
  transition-duration: 0.8s;
  opacity: 0.8;
}

#cover-photo figcaption {
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  opacity: 0;
  transition-duration: 0.8s;
  color: #000;
}

#cover-photo:hover figcaption {
    opacity: 1;
}