// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#feed {
  margin-top: 100px;
  max-width: 90%
}

.photo {
  float: left;
}

.clearfix{
  width: 100%;
  padding-left: 15px;
}


